/** @format */

$color_accent: #1c79b8;
$max_size: 1680px;

@mixin btn($size: 15) {
  font-family: Montserrat;
  font-weight: 500;
  font-size: $size + 0px;
  line-height: 18/15 * $size + 0px; // 18px (ja $size:15px;)
  letter-spacing: -0.015em;
  color: $color_accent;
  text-decoration: none;
}

@function pxToEm($px_size, $defaul_size: 16) {
  @return $px_size / $defaul_size + 0em;
}

body {
  margin: 0;
  background: #f2f2f2;
}

.top_header {
  background: #fff;
}

h2 {
  padding: 10px;
}

.btn {
  @include btn(15);
  border: pxToEm(1, 15) solid $color_accent;
  box-sizing: border-box;
  border-radius: pxToEm(6, 15);
  width: pxToEm(130, 15);
  height: pxToEm(40, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top_menu {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  padding: 0 30px;
  height: 60px;

  > div {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    margin-left: 31px;

    a {
      @include btn(20);
      margin-left: 40px;
    }
  }
  .btn {
    margin-left: 12px;
  }
}

.btn {
  &_call_to_action {
    width: 192px;
    height: 52px;
  }

  &_light {
    background: #ffffff;
  }

  &_accent {
    font-size: 20px;
    background: $color_accent;
    color: #fff;

    &:hover {
      background: #fff;
      color: $color_accent;
    }
  }
}

header {
  max-width: $max_size;
  height: 100vh;
  max-height: pxToEm(960);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg_header {
  background: url(images/video_placeholder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    font-family: Montserrat;
    font-size: pxToEm(56);
    line-height: pxToEm(80, 56);
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-top: pxToEm(390, 56);
  }
}

@media screen and (max-width: 600px) {
  .bg_header {
    font-size: 10px;
  }
}

section {
  max-width: $max_size;
  padding: 30px;
  background: #fff;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;
}
